<div class="loginIES">
  <div class="container d-grid mx-auto">
    <div class="mx-auto" style="width: 500px; text-align: center;">
      <h1 style="color:black">Bienvenido, Ingresa tus datos para hacer login</h1>
    </div>
    <div class="mx-auto" >
    <form [formGroup]="loginForm" (ngSubmit)="onSave()" autocomplete="off">
      <div class="mb-4 row justify-content-center">
        <div class="col-sm-4">
            <input type="text"
                   class="form-control"
                   formControlName="username"
                   placeholder="Username">
        <span
          *ngIf="loginForm.controls['username'].getError('required') && loginForm.controls['username'].touched"
          class="form-text text-danger">
          Este campo es obligatorio
        </span>
        </div>
      </div >
      <div class="mb-4 row justify-content-center">
        <div class="col-sm-4">
            <input type="password"
                   class="form-control"
                   formControlName="password"
                   placeholder="Password">
        <span
          *ngIf="loginForm.controls['password'].getError('required') && loginForm.controls['password'].touched"
          class="form-text text-danger">
          Este campo es obligatorio
        </span>
        </div>
      </div>
      <div class="mx-auto" style="width: 300px; text-align: center;">
        <div class="row" style="margin-bottom: 20px;">
          <div class="col">
              <button type="submit"
                      class="btn btn-primary float-end rounded-pill">
                  Entrar
              </button>
          </div>
      </div>
      <a style="color: darkblue;">¿Aun no te registras?</a>
      </div>
    </form>
  </div>
  </div>
</div>


