
<div class="welcomefull">
  <div class="container d-grid mx-auto">

    <div class="mx-auto" style="width: 300px; text-align: center;">
      <h1>Bienvenido a mi portal</h1>
    </div>

    <div class="mx-auto" style="width: 300px;  text-align: center;">
      <h2>Nos podrias indicar tu nombre</h2>
    </div>

    <div  class="mx-auto" style="width: 300px;  text-align: center;">
      <button (click)="openDialog()" class="btn btn-primary btn-lg rounded-pill">Escribre tu nombre</button>
    </div>
    <br>
    <div *ngIf="true" class="mx-auto" style="width: 300px;  text-align: center;">
      <h3>Nombre ingresado: Andres</h3><h3>Cambio de letras: Smith</h3>
    </div>



  </div>

</div>





