<nav class="navbar navbar-expand-lg navbar-light bg-light" style="    height: 50px;">
  <a class="navbar-brand" href="#">Ejercicio de Angular IES</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="example/welcome">Welcome<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="example/conversions">Conversions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="example/date">Date Function</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="example/form">Form Function</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
