<div class="datefull">
  <div class="container d-grid mx-auto">
    <div class="mx-auto" style="width: 300px; text-align: center;">
      <h1>Calcular Fecha</h1>
    </div>
      <br>
    <form [formGroup]="myForm" (ngSubmit)="onSave()" autocomplete="off">
      <div class="mx-auto" style="width: 300px; text-align: center;">
        <h3><p>Selecciona la fecha</p></h3>
        <input type="date" formControlName="startDate">
      </div>
        <br>
      <div class="mx-auto" style="width: 300px; text-align: center;">
        <h3><p>Selecciona la unidad</p></h3>
          <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" formControlName="typeDate">
            <option selected>Selecciona el rango</option>
            <option value="1">Día</option>
            <option value="2">Mes</option>
            <option value="3">Año</option>
          </select>
      </div>
        <br>
      <div class="mx-auto" style="width: 300px; text-align: center;">
        <h3><p>Ingresa la cantidad que quieres sumar</p></h3>
        <input type="number" formControlName="plusDate">
        <!-- {{myForm | json}} -->
      </div>
      <div class="mx-auto" style="width: 300px; text-align: center; margin-top: 3%;">
        <button type="submit" class="btn btn-dark">Calcular</button>
      </div>
        <br>
      <div *ngIf="finalDate" class="mx-auto" style="width: 300px; text-align: center;">
        <h3><p>El resultado es</p></h3>
        <p>{{ finalDate | date:'dd MMMM yyyy' }} </p>
      </div>
    </form>
  </div>
</div>
