
<div class="datefull">
  <div class="container d-grid mx-auto">

    <div class="mx-auto" style="width: 300px; text-align: center;">
      <h1>Calcular Fecha</h1>
    </div>
    <br>
    <div class="mx-auto" style="width: 300px; text-align: center;">
      <h3><p>Selecciona la fecha</p></h3>
      <input type="date">
    </div>
    <br>
    <div class="mx-auto" style="width: 300px; text-align: center;">
      <h3><p>Selecciona la unidad</p></h3>
      <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
        <option selected>Selecciona el rango</option>
        <option value="1">Día</option>
        <option value="2">Mes</option>
        <option value="3">Año</option>
      </select>
    </div>
    <br>
    <div class="mx-auto" style="width: 300px; text-align: center;">
      <h3><p>Ingresa la cantidad que quieres sumar</p></h3>
      <input type="number" class="">
    </div>
    <br>
    <div class="mx-auto" style="width: 300px; text-align: center;">
      <h3><p>El resultado fue</p></h3>
    </div>


  </div>

</div>
